# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.output/
.nuxt/
.nitro/
.cache/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env / editor
.env
.env.*
!.env.example
.DS_Store
*.local

# misc
*.map
coverage/

# playwright
test-results/
playwright-report/
.last-run.json

# nuxt content local db
.data/
